<h1>Posts</h1>

<div *ngIf="post" class="post-container">
  <div class="card my-4 shadow-sm border-opacity-10" >
    <!-- Post Header -->
    <div class="card-header bg-primary text-white d-flex align-items-center">
      <div>
        <h5 class="m-0">{{ post.info.firstName }}</h5>
        <small class="text-light">{{ post.createdDate | date: 'medium' }}</small>
      </div>
    </div>

    <div class="card-body">
      <p class="card-text">{{ post.content }}</p>

      <div *ngIf="post.attachmentUrls?.length" class="attachments"
           [ngStyle]="{ 'border': '1px solid ', 'border-radius': '8px', 'padding': '5px' }">
        <div [id]="'attachmentCarousel-' + post.id" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let url of post.attachmentUrls; let i = index" class="carousel-item"
                 [ngClass]="{ active: i === 0 }">
              <img [src]="url" alt="Attachment" class="d-block w-100 carousel-image"/>
            </div>
          </div>
          <button class="carousel-control-prev" type="button"
                  [attr.data-bs-target]="'#attachmentCarousel-' + post.id" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button"
                  [attr.data-bs-target]="'#attachmentCarousel-' + post.id" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <!-- Reactions and Comments Summary -->
      <div class="d-flex justify-content-between text-muted mb-2 mt-2">
        <div>
          <span *ngIf="post.emotions">Reactions: {{ post.emotions.length }}</span>
        </div>
        <div>
          <span *ngIf="post.comments">Comments: {{ post.comments.length }}</span>
        </div>
      </div>

      <!-- Post Options -->
      <div class="card-footer align-items-center mt-2">
        <button class="btn btn-primary mt-2" (click)="toggleEmotion(post)">
          <i class="bi"
             [ngClass]="{'bi-hand-thumbs-up-fill': isLiked(post.emotions), 'bi-hand-thumbs-up': !isLiked(post.emotions)}"></i>
          {{ isLiked(post.emotions) ? 'Liked' : 'Like' }}
        </button>

        <button class="btn btn-outline-secondary mt-2" (click)="this.commentToggles[post.id] = !this.commentToggles[post.id]">
          <i class="bi bi-chat-left-text"></i> Comment
        </button>
      </div>

      <!-- Comments Section -->
      <div *ngIf="commentToggles[post.id]" class="card-body bg-light">
        <!-- Toggle Comment Display Mode -->
        <div class="dropdown mb-2">
          <a class="dropdown-toggle text-secondary text-decoration-none toggle-hover" role="button"
             id="commentDisplayDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            {{ commentIsOpen ? 'Show All Comments' : 'Show Recent Comments' }}
          </a>
          <ul class="dropdown-menu border-0" aria-labelledby="commentDisplayDropdown">
            <li>
              <a class="dropdown-item" (click)="setCommentDisplayMode(post, true)">Show All Comments</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="setCommentDisplayMode(post, false)">Show Recent Comments</a>
            </li>
          </ul>
        </div>
        <div *ngIf="post.comments?.length; else noComments">
          <div *ngFor="let comment of getDisplayComments(post)" class="comment mb-3 p-2 border rounded bg-white">
            <div class="d-flex align-items-center">
              <strong class="text-primary">{{ comment.info.firstName }} {{ comment.info.lastName }}:</strong>
              <span class="ms-2">{{ comment.content }}</span>
            </div>
            <div *ngIf="comment.attachmentUrls && comment.attachmentUrls.length > 0">
              <div *ngFor="let url of comment.attachmentUrls" class="attachment-img-container mb-2">
                <img [src]="url" alt="" class="attachment-img img-fluid rounded"
                     style="max-width: 150px; max-height: 150px; object-fit: cover;"/>
              </div>
            </div>
            <small class="text-muted d-block mt-1">{{ comment.createdDate | date: 'short' }}</small>
          </div>
        </div>
        <form [formGroup]="addCommentForm" (ngSubmit)="handleSubmit(post.id)">
          <app-input-row [group]="addCommentForm" rowType="textarea" field="content"
                         label="Content"></app-input-row>

          <app-array-row
            [group]="addCommentForm"
            [fieldConfiguration]="attachmentUrlFieldConfiguration"
            [addItem]="addAttachment.bind(this)"
            [removeItem]="removeAttachment.bind(this)"
            field="attachmentUrls"
            label="Image">
          </app-array-row>

          <button type="submit" class="btn btn-primary mt-2" [disabled]="addCommentForm.invalid">Comment
          </button>
        </form>
        <ng-template #noComments>
          <small class="text-muted">No comments available.</small>
        </ng-template>
      </div>

      <!-- Pagination Controls -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="paginationUtils!.number === 0">
            <button class="page-link" (click)="onPageChange(paginationUtils!.number - 1)">Previous</button>
          </li>
          <li class="page-item" *ngFor="let page of getPageRange()" [class.active]="page === paginationUtils!.number">
            <button class="page-link" (click)="onPageChange(page)">{{ page + 1 }}</button>
          </li>
          <li class="page-item" [class.disabled]="paginationUtils!.number === paginationUtils!.totalPages - 1">
            <button class="page-link" (click)="onPageChange(paginationUtils!.number + 1)">Next</button>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>
