<div class="d-flex flex-wrap mb-4">
  <h1 class="flex-grow-1">Initialize Quiz</h1>
  <div>
    <a [routerLink]="['/administration/courses', courseId, 'sections', sectionId, 'lessons', lessonId, 'quizzes']" class="btn btn-secondary">Back to manage quiz page</a>
  </div>
</div>

<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
  <app-input-row [group]="addForm" field="title" label="Title" />
  <app-input-row [group]="addForm" field="description" label="Description" rowType="textarea" />
  <app-input-row [group]="addForm" field="passScorePercentage" label="Pass Score Percentage" rowType="number" />
  <input type="submit" value="Add Quiz" class="btn btn-primary mt-4" />
</form>

