<p>
  When there are no students enrolled in a course, you can proceed with unpublishing it without facing significant
  risks. However, if there are students who have purchased the course but have not yet completed the payment,
  unpublishing the course will greatly impact their purchasing experience in the future. In this case, you will be
  responsible for compensating any issues that arise as a result. On the other hand, if you decide to unpublish a course
  that already has enrolled students, you will need to provide compensation to those students if you take this action.
</p>

<p>
  Khi không có học viên nào tham gia khóa học, thì bạn có thể chấp nhận unpublish mà không ảnh hưởng bởi các rủi ro đáng
  kể. Tuy nhiên khi có sinh viên đã mua khóa học nhưng chưa thanh toán thì việc bạn unpublish sẽ ảnh hưởng lớn tới việc
  mua hàng của họ trong tương lai, Bạn sẽ phải chịu trách nghiệm về việc bồi thường cho bất kỳ vấn đề gì xảy ra trong
  tương lai. Mặt khác nếu bạn tiến hành unpublish một khóa học đã có học viên, lúc này học viên sẽ phải được bồi thường
  nếu bạn thực hiện điều này.
</p>
