<div *ngIf="enrolmentWithCourse$ | async as enrolmentWithCourse">
  <h1>Course content</h1>

  <div class="container mt-4">
    <div *ngFor="let section of enrolmentWithCourseDataService.sortSectionAndLessons(enrolmentWithCourse).sections" class="mb-4">
      <h3 class="text-primary">{{ section.title }}</h3>
      <div class="list-group">
        <div *ngFor="let lesson of section.lessons; let i = index"
             class="list-group-item d-flex justify-content-between align-items-center">

          <span class="text-decoration-underline">{{ lesson.title }}</span>

          <a [routerLink]="['/enrolments', enrolmentId, 'lessons', lesson.id]" class="btn"
             [queryParams]="{
                lessonPrev: enrolmentWithCourseDataService.getPrevLesson(lesson.id),
                lessonNext: enrolmentWithCourseDataService.getNextLesson(lesson.id)
             }"
             [ngClass]="{'btn-success': isCompleted(lesson.id, enrolmentWithCourse.lessonProgresses),
                           'btn-primary': !isCompleted(lesson.id, enrolmentWithCourse.lessonProgresses)}">Learn</a>

        </div>
      </div>
    </div>
  </div>

</div>

