<div class="container mt-5">
  <h1 class="mb-4">{{ course?.title }}</h1>
  <p class="lead">Teacher: <strong>{{ course?.teacher }}</strong></p>
  <p><strong>Price: {{ course?.price }}</strong></p>
  <p>{{ course?.description }}</p>

  <div *ngIf="hasPurchase$ | async as hasPurchase">
    <div *ngIf="hasPurchase" class="alert alert-success" role="alert">
      <h4 class="alert-heading">Congratulations! You </h4>
      <p>You can start learning right now. Here is your course information:</p>
      <ul>
        <li>Course Name: <strong>{{ course?.title }}</strong></li>
        <li>Instructor: <strong>{{ course?.teacher }}</strong></li>
      </ul>
      <a href="/course/{{ course?.id }}/content" class="btn btn-primary">Start Learning</a>
    </div>

    <div *ngIf="!hasPurchase" class="alert alert-warning" role="alert">
      <h4 class="alert-heading">You have not purchased this course!</h4>
      <p>To start learning, please purchase the course now to gain valuable knowledge.</p>
      <ul>
        <li>Course Name: <strong>{{ course?.title }}</strong></li>
        <li>Instructor: <strong>{{ course?.teacher }}</strong></li>
        <li>Price: <strong>{{ course?.price }}</strong></li>
      </ul>
      <a href="/course/{{ course?.id }}/purchase" class="btn btn-success">Buy Now</a>
    </div>
  </div>
</div>

