<div class="container mt-5 p-4 border rounded shadow-sm bg-light">
  <h1 class="mb-4 text-center text-primary">Title: {{ course?.title }}</h1>

  <p><strong>Teacher</strong>: {{ course?.teacher }}</p>
  <p><strong>Price</strong>:{{ course?.price}}</p>
  <p>{{ course?.description }}</p>
  <div class="row mb-4">
    <div class="col-md-4">
    <div class="p-3 border rounded bg-white">
    <h5>Subtitles</h5>
    <ul class="list-group">
      <li class="list-group-item">
        {{course?.subtitles?.join(', ') || 'N/A' }}
      </li>
    </ul>
  </div>
    </div>
      <div class="col-md-4">
      <div class="p-3 border rounded bg-white">
    <h5>Benefits</h5>
    <ul class="list-group">
      <li class="list-group-item">
        {{ course?.benefits?.join(', ') || 'N/A' }}
      </li>
    </ul>
  </div>
      </div>
        <div class="col-md-4">
        <div class="p-3 border rounded bg-white">
    <h5>Prerequisites</h5>
    <ul class="list-group">
      <li class="list-group-item">
        {{ course?.prerequisites?.join(', ') || 'N/A' }}
      </li>
    </ul>
        </div>
  </div>
  </div>
  <div *ngIf="!userService.current.isAuthenticated">
    <div class="alert alert-info mt-4" role="alert">
      <h4 class="alert-heading">You are not logged in!</h4>
      <p>Please log in to access the course and other features.</p>
      <app-login></app-login>
    </div>
  </div>
</div>
    <div *ngIf="hasPurchase$ | async as hasPurchase">
      <!-- Course Purchased -->
      <div *ngIf="hasPurchase" class="alert alert-success border-success rounded p-4 mt-4">
        <h4 class="alert-heading">Congratulations!</h4>
        <p>You have successfully enrolled in this course. Start learning now!</p>
        <ul class="list-group mb-3">
          <li class="list-group-item">Course Name: <strong>{{ course?.title }}</strong></li>
          <li class="list-group-item">Instructor: <strong>{{ course?.teacher }}</strong></li>
        </ul>
        <a href="/course/{{ course?.id }}/content" class="btn btn-primary w-100">Start Learning</a>
      </div>
      <!-- Course Not Purchased -->
      <div *ngIf="!hasPurchase" class="alert alert-warning border-warning rounded p-4 mt-4">
        <h4 class="alert-heading">You have not purchased this course!</h4>
        <p>Please purchase the course to access the content.</p>
        <ul class="list-group mb-3">
          <li class="list-group-item">Course Name: <strong>{{ course?.title }}</strong></li>
          <li class="list-group-item">Instructor: <strong>{{ course?.teacher }}</strong></li>
          <li class="list-group-item">Price: <strong>{{ course?.price}}</strong></li>
        </ul>
        <a href="/course/{{ course?.id }}/purchase" class="btn btn-success w-100">Buy Now</a>
      </div>
    </div>

