<div *ngIf="order?.status === 'PENDING'" class="alert alert-warning">
  Please pay to enroll to course! Or pay it later in <a routerLink="/my-orders">My Orders</a>
</div>

<form [formGroup]="paymentForm">
  <div class="alert alert-info">OrderID: {{orderId}}</div>
  <app-input-row [group]="paymentForm" field="orderId" label="Order ID" hidden/>
  <app-input-row [group]="paymentForm" field="amount" label="Amount" />
  <app-input-row [group]="paymentForm" field="paymentMethod" label="Payment Method"
                 rowType="radio" [options]="paymentMethodsMap" (optionsChange)="paymentMethodSelected($event)"/>
</form>
