<div class="row">
  <div class="col-md-4 col-12" *ngIf="enrollmentWithCourse$ | async as enrollmentWithCourse">
    <img [src]="enrollmentWithCourse?.thumbnailUrl" class="img-thumbnail" alt="">
    <h2>{{ enrollmentWithCourse?.title }}</h2>
    <p>{{enrollmentWithCourse.enrollmentDate | date: 'yyyy-MM-dd HH:mm:ss'}}</p>

    <p class="mb-3">
      <span [innerHTML]="enrollmentWithCourse.description"></span>
    </p>

    <div class="list-group">
      <a [routerLink]="['/enrollments', enrollmentId, 'overview']" class="list-group-item list-group-item-action"
         [ngClass]="{'active': isActive('/enrollments/' + enrollmentId + '/overview')}"
         [attr.aria-current]="isActive('/enrollments/' + enrollmentId + '/overview')">Overview</a>
      <a [routerLink]="['/enrollments', enrollmentId, 'lessons']" class="list-group-item list-group-item-action"
         [ngClass]="{'active': isActive('/enrollments/' + enrollmentId + '/lessons')}"
         [attr.aria-current]="isActive('/enrollments/' + enrollmentId + '/lessons')">Lessons</a>
      <a [routerLink]="['/enrollments', enrollmentId, 'posts']" [queryParams]="{courseId: enrollmentWithCourse.courseId}" class="list-group-item list-group-item-action"
         [ngClass]="{'active': isActive('/enrollments/' + enrollmentId + '/posts')}"
         [attr.aria-current]="isActive('/enrollments/' + enrollmentId + '/posts')">Posts</a>
    </div>
  </div>

  <div class="col-md-8 col-12">
    <router-outlet></router-outlet>
  </div>
</div>

