<div class="d-flex flex-wrap mb-4">
  <h1 class="flex-grow-1">Initialize Course</h1>
  <div>
    <a routerLink="/administration/courses" class="btn btn-secondary">Back to list</a>
  </div>
</div>

<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
  <app-input-row [group]="addForm" field="title" label="Title" />
  <app-input-row [group]="addForm" field="thumbnailUrl" label="Thumbnail" rowType="imageFile"/>
  <app-input-row [group]="addForm" rowType="textarea" field="description" label="Description" />
  <app-input-row [group]="addForm" rowType="radio" field="language" label="Language" [options]="languagesMap"/>
  <app-array-row [group]="addForm"
                 [addItem]="addBenefit.bind(this)"
                 [removeItem]="removeBenefit.bind(this)"
                 field="benefits" label="Benefits"
                 [fieldConfiguration]="benefitsFieldConfiguration"/>
  <app-array-row [group]="addForm"
                 [addItem]="addPrerequisite.bind(this)"
                 [removeItem]="removePrerequisite.bind(this)"
                 field="prerequisites" label="Prerequisites"
                 [fieldConfiguration]="prerequisitesFieldConfiguration"/>
  <app-input-row [group]="addForm" rowType="multiselect" field="subtitles" label="Subtitles" [options]="languagesMap"/>
  <input type="submit" value="Add Course" class="btn btn-primary mt-4" />
</form>
