<div *ngIf="enrolmentWithCourse$ | async as enrolmentWithCourse">
  <h1>Overview</h1>

  <h3>Your Progress</h3>
  <div class="progress" role="progressbar" aria-label="Example with label"
       [attr.aria-valuenow]="calcProgress(enrolmentWithCourse.progress)" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" [style.width]="calcProgress(enrolmentWithCourse.progress) + '%'">
      {{calcProgress(enrolmentWithCourse.progress)}}%
    </div>
  </div>

  <h3>Teacher</h3>
  <p>{{enrolmentWithCourse.teacher}}</p>

  <h3>Language</h3>
  <p>{{enrolmentWithCourse.language}}</p>

  <h3>Subtitles</h3>
  <ul>
    <li *ngFor="let subtitle of enrolmentWithCourse.subtitles">{{subtitle}}</li>
  </ul>

  <h3>benefits</h3>
  <ul>
    <li *ngFor="let benefit of enrolmentWithCourse.benefits">{{benefit}}</li>
  </ul>

  <h3>prerequisites</h3>
  <ul>
    <li *ngFor="let prerequisite of enrolmentWithCourse.prerequisites">{{prerequisite}}</li>
  </ul>

</div>
