
<div class="container mt-5 p-5 border rounded shadow-lg bg-light">
  <!-- Tiêu đề khóa học -->
  <h1 class="mb-4 text-center text-primary font-weight-bold"></h1>

  <!-- Phần đầu tiên -->
  <div class="row ">
    <h1 class="mb-4 font-weight-bold text-primary">
      {{ course?.title }}
    </h1>

    <div class="col-md-6">


      <p class="text-muted mb-3"
         style="font-size: 1.2rem; font-family: 'Roboto', sans-serif; line-height: 1.6; text-align: justify;">
        {{ course?.description }}
      </p>
      <p class="text-muted"><strong>Teacher:</strong> {{ course?.teacher }}</p>

      <div class="mt-4">
        <div>
          <!-- Lợi ích -->
          <h5 class="font-weight-bold border-bottom pb-2 mb-3 ">Benefit</h5>
          <ul class="list-group">
            <li class="list-group-item">
              {{ course?.benefits?.join(', ') || 'N/A' }}
            </li>
          </ul>
        </div>

        <div class="mt-4">
          <!-- Yêu cầu đầu vào -->
          <h5 class="font-weight-bold border-bottom pb-2 mb-3 ">Prerequisites</h5>

          <ul class="list-group">
            <li class="list-group-item">
              {{ course?.prerequisites?.join(', ') || 'N/A' }}
            </li>
          </ul>
        </div>

        <div class="mt-4">
          <!-- Phụ đề -->
          <h5 class="font-weight-bold border-bottom pb-2 mb-3 ">Subtitles</h5>

          <ul class="list-group">
            <li class="list-group-item">
              {{ course?.subtitles?.join(', ') || 'N/A' }}
            </li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Cột phải: Thẻ Card -->
    <div class="col-md-6">
      <div class="card shadow-sm border-0 mb-4">
        <img
          [src]="course?.thumbnailUrl || 'https://placehold.co/600x400/000000/FFF?text=No+Image'"
          class="card-img-top"
          alt="Course Thumbnail"
          style="height: 400px; object-fit: cover; border-radius: 8px;">
        <div class="card-body">
          <h5 class="card-title text-success font-weight-bold">
            {{ course?.price }}
          </h5>
          <ng-container *ngIf="!isAuthenticated; else loggedIn">
            <div class="alert alert-info mt-3" role="alert">
              <h6 class="alert-heading">You are not logged in!</h6>
              <p>Please log in to access the course and other features.</p>
              <app-login></app-login>
            </div>
          </ng-container>

          <ng-template #loggedIn>
            <div *ngIf="enrolment" class="alert alert-success mt-3" role="alert">
              <h6 class="alert-heading">Congratulations!</h6>
              <p>You can start learning right now.</p>
              <a [routerLink]="['/enrolments', enrolment.id, 'overview']" class="btn btn-primary btn-block">
                Start Learning
              </a>
            </div>

            <div *ngIf="!enrolment" class="alert alert-warning mt-3" role="alert">
              <h6 class="alert-heading">You have not purchased this course!</h6>
              <p>To start learning, please purchase the course.</p>
              <a [routerLink]="['/checkout', course?.id]" class="btn btn-success btn-block">
                Buy Now
              </a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
