<div class="container">
  <h1>List courses for checkout</h1>

  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Language</th>
      <th>Price</th>
      <th>Published</th>
      <th>Teacher</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courses" (click)="selectCourse(course)">
      <td>{{ course.id }}</td>
      <td>{{ course.title }}</td>
      <td>{{ course.language }}</td>
      <td>{{ course.price }}</td>
      <td>{{ course.published ? 'Yes' : 'No' }}</td>
      <td>{{ course.teacher }}</td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="selectedCourse" class="container">
    <div class="row">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-0">Course Details</h3>
        <button class="btn btn-danger btn-sm" (click)="clearSelected()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="col-md-6">
        <p><strong>Title:</strong> {{ selectedCourse.title }}</p>
        <p><strong>Description:</strong> {{ selectedCourse.description }}</p>
        <p><strong>Language:</strong> {{ selectedCourse.language }}</p>
        <p><strong>Subtitles:</strong> {{ selectedCourse.subtitles?.join(', ') }}</p>
        <p><strong>Benefits:</strong> {{ selectedCourse.benefits?.join(', ') }}</p>
        <p><strong>Prerequisites:</strong> {{ selectedCourse.prerequisites?.join(', ') }}</p>
        <p><strong>Price:</strong> {{ selectedCourse.price }}</p>
        <p><strong>Teacher:</strong> {{ selectedCourse.teacher }}</p>
      </div>

      <div class="col-md-6">
        <img [src]="selectedCourse.thumbnailUrl" alt="{{ selectedCourse.title }}" class="img-fluid" />
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Code</th>
      <th>Type</th>
      <th>Value</th>
      <th><!----></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="discountSelected">
      <td>{{ discountSelected.code }}</td>
      <td>{{ discountSelected.type }}</td>
      <td>{{ discountSelected.type === 'PERCENTAGE' ? discountSelected.percentage : discountSelected.fixedPrice }}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="clearDiscount()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <h1>Please complete below form</h1>
  @if (!discountSelected) {
    <h4>Total price: {{calcTotalPrice()}}</h4>
  } @else {

    @if (discountSelected.type === 'PERCENTAGE' && discountSelected.percentage) {
      <h4>Total price: {{calcMultiplier(calcTotalPrice(), discountSelected.percentage)}}</h4>
    }

    @else if (discountSelected.type === 'FIXED' && discountSelected.fixedPrice) {
      <h4>Total price: {{calcDifference(calcTotalPrice(), discountSelected.fixedPrice)}}</h4>
    } @else {
      <h4>Total price: {{calcTotalPrice()}}</h4>
    }

  }

  <form [formGroup]="discountCodeForm" (ngSubmit)="handleSearchForm()">
    <app-input-row [group]="discountCodeForm" field="discountCode" label="Discount code" />
    <input type="submit" value="Search" class="btn btn-primary mt-4" />
  </form>


  <div class="d-flex justify-content-center">
    <button class="btn btn-success btn-lg" (click)="confirmEnrollCourse()">Enroll this course</button>
  </div>

</div>
