<div class="row mb-3">
  @if (rowType === 'checkbox') {
    <div class="col-md-10 offset-md-2">
      <div class="form-check">
        <input [id]="index" formControlName="" type="checkbox"
               class="form-check-input {{ getInputClasses() }}"/>
      </div>
      <app-input-errors [control]="control!"/>
    </div>
  } @else {
    <div class="col-md-10">
<!--      @else if (rowType === 'imageFile' || rowType === 'videoFile' || rowType === 'docFile') {-->
<!--        <app-file-row [rowType]="rowType" [control]="control"></app-file-row>-->
<!--      }-->
      @if (rowType === 'text' || rowType === 'password' || rowType === 'email' || rowType === 'tel') {
        <input [id]="index" [type]="rowType" [formControl]="control!" [placeholder]="placeholder"
               class="form-control {{ getInputClasses() }}"/>
      }

      @else if (rowType === 'number') {
        <input [id]="index" type="number" [formControl]="control!" [placeholder]="placeholder"
               class="form-control {{ getInputClasses() }}"/>
      }

      @else if (rowType === 'textarea') {
        <textarea [id]="index" [formControl]="control!" [placeholder]="placeholder"
                  class="form-control {{ getInputClasses() }}"></textarea>
      }

      @else if (rowType === 'select') {
        <select [id]="index" [formControl]="control!"
                class="form-select {{ getInputClasses() }}">
          <option [ngValue]="null">Please select</option>
          @for (option of optionsMap! | keyvalue; track option.key) {
            <option [ngValue]="option.key">{{ option.value }}</option>
          }
        </select>
      }

      @else if (rowType === 'multiselect') {
        <select [id]="index" [formControl]="control!" multiple="true"
                class="form-select {{ getInputClasses() }}">
          @for (option of optionsMap! | keyvalue; track option.key) {
            <option [ngValue]="option.key">{{ option.value }}</option>
          }
        </select>
      }

      @else if (rowType === 'radio') {
        @if (!isRequired()) {
          <div class="form-check form-check-inline pt-2">
            <input [id]="index" [formControl]="control!" [value]="null" type="radio"
                   class="form-check-input {{ inputClass }}"/>
            <label [for]="index" class="form-check-label">Please select</label>
          </div>
        }
        <div *ngFor="let option of optionsMap! | keyvalue" class="form-check form-check-inline pt-2">
          <input
            [id]="index + '_' + option.key"
            [formControl]="control!"
            [value]="option.key"
            type="radio"
            class="form-check-input {{ getInputClasses() }}"
            (click)="onRadioOptionsSelected(option.key)"/>
          <label [for]="index + '_' + option.key" class="form-check-label">{{ option.value }}</label>
        </div>
      }

      @else if (rowType === 'imageFile' || rowType === 'videoFile' || rowType === 'docFile') {
        <app-file-row [rowType]="rowType" [control]="control"></app-file-row>
      }

      <app-input-errors [control]="control!"/>
    </div>
  }
</div>
