<div class="d-flex flex-wrap mb-4">
  <h1 class="flex-grow-1">Quiz Detail</h1>
  <div>
    <ng-template #quizNo>
      <div>No Quiz could be found.</div>
    </ng-template>
    <a
      [routerLink]="['/administration/courses', courseId, 'sections', sectionId, 'lessons', lessonId, 'quizzes', 'add']"
      class="btn btn-primary ms-2">Create Quiz</a>
    <a [routerLink]="['/administration/courses', courseId]" class="btn btn-secondary ms-2">Back to course detail</a>
  </div>
</div>



<ng-container *ngIf="quizDto as quizDetail; else quizNo">
  <div class="d-flex flex-wrap gap-2">
  <a [routerLink]="['/administration/courses', courseId, 'sections', sectionId, 'lessons', lessonId, 'quizzes', 'edit', quizDetail.id]"
     class="btn btn-secondary  ">Edit Quiz</a>
  <a [routerLink]="['/administration/courses', courseId, 'sections', sectionId, 'lessons', lessonId, 'quizzes', 'add-question', quizDetail.id]"
     class="btn btn-secondary  ">Add Question</a>
  <button type="button" (click)="confirmDeleteQuiz(quizDetail.id)" class="btn  btn-secondary me-2">
    Delete
  </button>
  </div>

  <h3>Title: {{quizDetail.title}}</h3>
  <p>Description: {{quizDetail.description}}</p>
  <p>This quiz will display after lessonID: {{quizDetail.afterLessonId}}</p>
  <p>Total score: {{quizDetail.totalScore}}</p>
  <p>Min {{quizDetail.passScorePercentage}} % to passed</p>

  <ng-container *ngIf="quizDetail.questions.length > 0; else noQuestions">
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Content</th>
          <th scope="col">Type</th>
          <th scope="col">Correct option</th>
          <th scope="col">Score</th>
          <th><!-- --></th>
        </tr>
        </thead>
        <tbody>
          @for (question of quizDetail.questions; track question.id) {
            <tr>
              <td>{{question.id}}</td>
              <td>{{question.content}}</td>
              <td>{{question.type}}</td>
              <td>
                @if (question.type === 'SINGLE_CHOICE') {
                  {{getCorrectOption(question.options!)[0].content}}
                } @else if (question.type === 'MULTIPLE_CHOICE'){
                  <ul *ngFor="let correctOption of getCorrectOption(question.options!)">
                    <li>{{correctOption.content}}</li>
                  </ul>
                } @else {
                  {{question.trueFalseAnswer}}
                }
              </td>
              <td>{{question.score}}</td>
              <td>
                <a [routerLink]="['/administration/courses', courseId, 'sections', sectionId, 'lessons', lessonId, 'quizzes', quizDetail.id, 'edit-question', question.id]"
                   class="btn btn-secondary btn-sm custom-button">Edit</a>
                <button type="button" (click)="confirmDeleteQuestion(quizDetail.id, question.id)" class="btn btn-sm btn-secondary me-2">
                  Delete
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-template #noQuestions>
    <h1>No question could be found.</h1>
  </ng-template>

</ng-container>
<a [routerLink]="['/administration/courses', courseId, 'sections', sectionId, 'lessons', lessonId, 'quizzes', 'trash']"
   class="btn btn-primary">Go to trash</a>
