<div class="d-flex flex-wrap mb-4">
  <h1 class="flex-grow-1">Quiz Detail</h1>
  <div>
    <ng-container *ngIf="quizDto; else createQuizButton">
      <a [routerLink]="[quizResource, 'edit', quizDto.id]"
         class="btn btn-secondary ms-2">Edit Quiz</a>
      <a [routerLink]="[quizResource, 'add-question', quizDto.id]"
         class="btn btn-secondary ms-2">Add Question</a>
      <button type="button" (click)="confirmDeleteQuiz(quizDto.id)" class="btn btn-secondary ms-2">
        Delete
      </button>
    </ng-container>
    <ng-template #createQuizButton>
      <a [routerLink]="[quizResource, 'add']"
         class="btn btn-primary ms-2">Create Quiz</a>
    </ng-template>
    <a [routerLink]="['/administration/courses', courseId]" class="btn btn-secondary ms-2">Back to course detail</a>
  </div>
</div>

<ng-container *ngIf="quizDto as quizDetail; else quizNo">

  <h3>Title: {{quizDetail.title}}</h3>
  <p>Description: {{quizDetail.description}}</p>
  <p>This quiz will display after lessonID: {{quizDetail.afterLessonId}}</p>
  <p>Total score: {{quizDetail.totalScore}}</p>
  <p>Min {{quizDetail.passScorePercentage}} % to passed</p>

  <ng-container *ngIf="quizDetail.questions.length > 0; else noQuestions">
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Content</th>
          <th scope="col">Type</th>
          <th scope="col">Correct option</th>
          <th scope="col">Score</th>
          <th><!-- --></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let question of quizDetail.questions">
          <td>{{question.id}}</td>
          <td>{{question.content}}</td>
          <td>{{question.type}}</td>
          <td>
            <ng-container *ngIf="question.type === 'SINGLE_CHOICE'; else multipleOrBoolean">
              {{getCorrectOption(question.options!)[0]?.content}}
            </ng-container>
            <ng-template #multipleOrBoolean>
              <ng-container *ngIf="question.type === 'MULTIPLE_CHOICE'; else booleanAnswer">
                <ul>
                  <li *ngFor="let correctOption of getCorrectOption(question.options!)">
                    {{correctOption.content}}
                  </li>
                </ul>
              </ng-container>
              <ng-template #booleanAnswer>
                {{question.trueFalseAnswer}}
              </ng-template>
            </ng-template>
          </td>
          <td>{{question.score}}</td>
          <td>
            <a [routerLink]="['/administration/courses', courseId, 'sections', sectionId, 'lessons', lessonId, 'quizzes', quizDetail.id, 'edit-question', question.id]"
               class="btn btn-secondary btn-sm">Edit</a>
            <button type="button" (click)="confirmDeleteQuestion(quizDetail.id, question.id)" class="btn btn-sm btn-secondary ms-3">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-template #noQuestions>
    <h1>No question could be found.</h1>
  </ng-template>
</ng-container>

<ng-template #quizNo>
  <div>No Quiz could be found.</div>
</ng-template>

<a [routerLink]="['/administration/courses', courseId, 'sections', sectionId, 'lessons', lessonId, 'quizzes', 'trash']"
   class="btn btn-primary">Go to trash</a>
