<div class="container-fluid p-4 bg-light rounded shadow-sm" *ngIf="requestCourse">
  <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-2">
    <h2 class="text-primary fw-bold mb-3">Request Details</h2>
    <a routerLink="/administration/courses" class="btn btn-outline-secondary">
      <i class="bi bi-arrow-left"></i> Back to list
    </a>
  </div>
  <table class="table table-striped table-hover border rounded bg-white shadow-sm">
    <thead>
    <tr>
      <th class="text-uppercase fw-bold">Detail</th>
      <th class="text-uppercase fw-bold">Information</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="border fw-bold">ID</td>
      <td class="border">{{ requestCourse.id }}</td>
    </tr>
    <tr>
      <td class="border fw-bold">Type</td>
      <td class="border">{{ requestCourse.type }}</td>
    </tr>
    <tr>
      <td class="border fw-bold">Status</td>
      <td class="border">
          <span class="badge {{ requestCourse.status === 'Pending' ? 'bg-warning' : (requestCourse.status === 'Resolved' ? 'bg-success' : 'bg-info') }}">
            {{ requestCourse.status }}
          </span>
      </td>
    </tr>
    <tr>
      <td class="border fw-bold">Requested By</td>
      <td class="border">
        {{ requestCourse.requestedBy === userService.current.name ? 'This account' : requestCourse.requestedBy }}
      </td>
    </tr>
    <tr>
      <td class="border fw-bold">Message</td>
      <td class="border">
        <p class="mb-0">{{ requestCourse.message }}</p>
      </td>
    </tr>
    <tr>
      <td class="border fw-bold">Course Ref</td>
      <td class="border">
        <div class="position-relative">
          <a [routerLink]="['/administration/courses', courseId]" class="text-primary">
            View Course
          </a>
          <span class="tooltip-text">Course detail center</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="text-center">
        <div>
          <span *ngIf="requestCourse.resolved" class="badge bg-success px-3 py-2">Resolved</span>
        </div>
        <div class="text-center">
          <ng-container *ngIf="!requestCourse.resolved && canResolveRequest(requestCourse)">
            <a [routerLink]="['/administration/courses', courseId, 'requests', 'approve', requestCourse.id]"
               class="btn btn-success me-2">Approve</a>
            <a [routerLink]="['/administration/courses', courseId, 'requests', 'reject', requestCourse.id]"
               class="btn btn-secondary">Reject</a>
          </ng-container>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


