<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/Thinking.jpg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
      EL
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" *ngIf="isTeacher || isAdmin">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Advanced
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/administration">Administration</a></li>
            <li *ngIf="isTeacher || isAdmin"><a class="dropdown-item" [href]="accountManagementUrl" target="_blank">Account</a></li>
            <li *ngIf="isAdmin"><a class="dropdown-item" [href]="adminConsoleUrl" target="_blank">Admin console</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="!isTeacher && !isAdmin">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/my-orders">My Orders</a></li>
            <li><a class="dropdown-item" routerLink="/my-enrolments">My Course Enrollments</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <app-login *ngIf="!isAuthenticated"></app-login>
          <app-logout *ngIf="isAuthenticated"></app-logout>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
