<div *ngFor="let language of Object.keys(groupedCourses)">
  <h3 class="mt-4 mb-3">{{ language }}</h3>
  <div class="row g-4">
    @if (!groupedCourses[language] || groupedCourses[language].length === 0) {
      <div class="col-12 text-center">
        <div class="alert alert-warning">No course could be found.</div>
      </div>
    } @else {
      <div id="courseSlider-{{language}}" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let courseChunk of chunkCourses(groupedCourses[language], 4); let i = index" [class.active]="i === 0">
            <div class="row">
              <div class="col-md-3" *ngFor="let course of courseChunk">
                <div class="card course-card shadow-sm border-light rounded h-100 position-relative">
                  <a [routerLink]="['courses', course.id]">
                    <img [src]="course.thumbnailUrl || 'https://placehold.co/600x400/000000/FFF'"
                         class="card-img-top rounded-top"
                         alt="Course Thumbnail"
                         style="object-fit: cover; height: 180px;">
                  </a>
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark fw-semibold text-truncate">{{ course.title }}</h5>
                    <p class="card-text text-truncate">{{ course.teacher }}</p>
                    <p class="card-text text-truncate-2">{{ course.price }}</p>
                    <div class="mt-auto">
                      <a [routerLink]="['checkout', course.id]" class="btn btn-primary btn-sm w-100">Buy now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel Controls for Each Language Slider -->
        <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#courseSlider-' + language" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#courseSlider-' + language" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    }
  </div>
</div>
