<div class="row mb-3">
  @if (rowType === 'checkbox') {
    <div class="col-md-10 offset-md-2">
      <div class="form-check">
        <input [id]="index" formControlName="" type="checkbox"
               class="form-check-input {{ getInputClasses() }}"/>
      </div>
      <app-input-errors [control]="control!"/>
    </div>
  } @else {
    <div class="col-md-10">
      @if (rowType === 'text' || rowType === 'password' || rowType === 'email' || rowType === 'tel') {
        <input [id]="index" [type]="rowType" formControlName="" [placeholder]="placeholder"
               class="form-control {{ getInputClasses() }}"/>
      }

      @else if (rowType === 'number') {
        <input [id]="index" type="number" formControlName="" [placeholder]="placeholder"
               class="form-control {{ getInputClasses() }}"/>
      }

      @else if (rowType === 'textarea') {
        <textarea [id]="index" formControlName="" [placeholder]="placeholder"
                  class="form-control {{ getInputClasses() }}"></textarea>
      }

      @else if (rowType === 'select') {
        <select [id]="index" formControlName=""
                class="form-select {{ getInputClasses() }}">
          <option [ngValue]="null">Please select</option>
          @for (option of optionsMap! | keyvalue; track option.key) {
            <option [ngValue]="option.key">{{ option.value }}</option>
          }
        </select>
      }

      @else if (rowType === 'multiselect') {
        <select [id]="index" formControlName="" multiple="true"
                class="form-select {{ getInputClasses() }}">
          @for (option of optionsMap! | keyvalue; track option.key) {
            <option [ngValue]="option.key">{{ option.value }}</option>
          }
        </select>
      }

      @else if (rowType === 'radio') {
        @if (!isRequired()) {
          <div class="form-check form-check-inline pt-2">
            <input [id]="index" formControlName="" [value]="null" type="radio"
                   class="form-check-input {{ inputClass }}"/>
            <label [for]="index" class="form-check-label">Please select</label>
          </div>
        }
        <div *ngFor="let option of optionsMap! | keyvalue" class="form-check form-check-inline pt-2">
          <input
            [id]="index + '_' + option.key"
            formControlName=""
            [value]="option.key"
            type="radio"
            class="form-check-input {{ getInputClasses() }}"
            (click)="onRadioOptionsSelected(option.key)"/>
          <label [for]="index + '_' + option.key" class="form-check-label">{{ option.value }}</label>
        </div>
      }

      @else if (rowType === 'imageFile') {
        <input type="file" (change)="onFileSelected($event)" class="form-control {{ getInputClasses() }}"
               accept=".jpg, .jpeg, .png, .webp"/>
        <img [src]="previewUrl" alt="Image preview" class="img-thumbnail mt-2" style="max-height: 200px;"/>
      }

      @else if (rowType === 'videoFile') {
        <input type="file" (change)="onFileSelected($event)" class="form-control {{ getInputClasses() }}"
               accept=".mp4"/>
        <video *ngIf="previewUrl" #videoPlayer id="myVideo" controls width="100%">
          <source [src]="previewUrl" type="video/mp4">
        </video>
      }

      @else if (rowType == 'docFile') {
        <input type="file" (change)="onFileSelected($event)" class="form-control {{ getInputClasses() }}"
               accept=".pdf, .doc, .docx"/>
        <p *ngIf="previewUrl">Your document was uploaded: {{ previewUrl }}</p>
      }

      <app-input-errors [control]="control!"/>
    </div>
  }
</div>
