<div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-2">
  <h1 class="text-primary fw-bold">Enrolments statistic Center</h1>
  <a routerLink="/administration/enrolment-statistics" class="btn btn-outline-secondary">
    <i class="bi bi-arrow-left"></i> Back to list
  </a>
</div>

<div class="container-fluid bg-light p-4 rounded shadow-sm" *ngIf="courseInfoWithEnrolments">
  <section id="basic" class="p-4 border rounded mb-4 bg-white">
    <h2 class="mb-4 border-bottom pb-2">Basic Information</h2>
    <div class="row">
      <div class="col-lg-4 text-center">
        <img
          [src]="courseInfoWithEnrolments.thumbnailUrl || 'https://placehold.jp/200x200.png'"
          class="img-fluid rounded shadow-sm mb-3"
          alt="Course Thumbnail"
          style="width: auto; height: 300px; object-fit: cover;">
      </div>
      <div class="col-lg-8">
        <p><strong>Title:</strong> {{ courseInfoWithEnrolments.title }}</p>
        <p>
          <strong>Teacher: </strong>
          <span *ngIf="isCreateByYou(courseInfoWithEnrolments.teacher)">{{ courseInfoWithEnrolments.teacher }}
            <span class="badge bg-secondary">this account</span>
          </span>
          <span *ngIf="!isCreateByYou(courseInfoWithEnrolments.teacher)">{{ courseInfoWithEnrolments.teacher }}</span>
        </p>
      </div>
    </div>
  </section>

  <section id="enrolments" class="p-4 border rounded mb-4 bg-white">
    <h2 class="mb-4 border-bottom pb-2">Students</h2>
    <!--Section-->
    <div class="accordion mt-4" id="courseSections">
      <div *ngFor="let enrolment of courseInfoWithEnrolments.enrolments; let i = index" class="accordion-item mb-3 border rounded">
        <!-- Accordion Header -->
        <h2 class="accordion-header" [attr.id]="'heading' + enrolment.id">
          <div class="d-flex align-items-center justify-content-between px-3 py-2">
            <!-- Title và nút collapse -->
            <button
              class="accordion-button collapsed bg-light text-dark fw-bold p-0 me-3"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + enrolment.id"
              aria-expanded="false"
              [attr.aria-controls]="'collapse' + enrolment.id"
            >
              <span>{{ enrolment.student }}</span>
            </button>

            <div class="d-flex align-items-center">
              <div class="d-flex gap-2">
                <span class="badge bg-primary">Enrolled at: {{ enrolment.enrollmentDate | date }}</span>
                <span class="badge bg-info">Total lessons done: {{ enrolment.progress.completedLessons }}</span>
              </div>
            </div>
          </div>
        </h2>
        <!-- Accordion Content -->
        <div
          [attr.id]="'collapse' + enrolment.id"
          class="accordion-collapse collapse"
          [attr.aria-labelledby]="'heading' + enrolment.id"
          data-bs-parent="#courseSections"
        >
          <div class="accordion-body border-top">
            <ul class="list-group border-0">
              <li *ngFor="let lessonProgress of enrolment.lessonProgresses; let j = index"
                  class="list-group-item d-flex justify-content-between align-items-center border-0">
                <!--Title-->
                <span class="fw-bold">{{ lessonProgress.lessonTitle }}</span>
                <!--Completed-->
                @if (lessonProgress.completed) {
                  <span class="badge bg-success">Completed - {{lessonProgress.completedDate | date }}</span>
                } @else {
                  <span class="badge bg-warning">In progress</span>
                }
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
