<div *ngIf="enrolmentWithCourse$ | async as enrolmentWithCourse">
  <div *ngIf="getLessonById(lessonId!, enrolmentWithCourse.sections) as lessonDetail">
    <!--Header-->
    <div class="d-flex flex-wrap mb-4">
      <h1 class="flex-grow-1">{{lessonDetail.title}}</h1>
      <div>
        <a [routerLink]="['/enrolments', enrolmentId, 'lessons']" class="btn btn-secondary">Back to lessons</a>
      </div>
    </div>

    <!--Content-->
    <!--display video-->
    <div class="w-100 mb-4">
      <div class="video-container">
        <app-video-player [videoLink]="lessonDetail.link"></app-video-player>
      </div>
    </div>

  </div>
</div>
