<div *ngIf="enrolmentWithCourse$ | async as enrolmentWithCourse">
  <div *ngIf="getLessonById(lessonId!, enrolmentWithCourse.sections) as lessonDetail">

    <!--Header-->
    <div class="d-flex flex-wrap mb-4">
      <h1 class="flex-grow-1">{{lessonDetail.title}}</h1>
      <div>
        <a [routerLink]="['/enrolments', enrolmentId, 'lessons']" class="btn btn-secondary">Back to lessons</a>
      </div>
    </div>

    <!--Content-->
    <!--display video-->
    <div class="w-100 mb-4">
      <div *ngIf="lessonType === 'video'" class="video-container">
        <app-video-player [videoLink]="lessonDetail.link"></app-video-player>
      </div>

      <div *ngIf="lessonType === 'docx'" class="document-container">
        <app-document-viewer [documentLink]="lessonDetail.link"></app-document-viewer>
      </div>

    </div>


    <!--Action Buttons-->
    <div class="d-flex justify-content-between mb-4">
      <div>
        <button *ngIf="!lessonIsCompleted(lessonDetail.id, enrolmentWithCourse.lessonProgresses)"
                (click)="markLessonAsCompleted(lessonDetail.id, lessonDetail.title, enrolmentWithCourse.sections)"
                class="btn btn-success me-2">Mark as Completed</button>
        <a *ngIf="lessonIsCompleted(lessonDetail.id, enrolmentWithCourse.lessonProgresses)
        && getQuizByLessonId(lessonDetail.id, enrolmentWithCourse.sections) as quiz"
           [routerLink]="['/enrolments', this.enrolmentId, 'quiz-submit', quiz.id]"
           class="btn btn-success me-2">Quiz</a>

        @if(!enrolmentWithCourse.completed) {
          <button *ngIf="lessonIsCompleted(lessonDetail.id, enrolmentWithCourse.lessonProgresses)" (click)="markLessonAsIncomplete(lessonDetail.id, lessonDetail.title)"
                  class="btn btn-warning">Unmark as Incomplete</button>
        } @else {
          <button *ngIf="lessonIsCompleted(lessonDetail.id, enrolmentWithCourse.lessonProgresses)" disabled class="btn btn-warning">Unmark as Incomplete</button>
        }
      </div>
      <div>
        <a *ngIf="lessonPrev" [routerLink]="['/enrolments', enrolmentId, 'lessons', lessonPrev]"
           [queryParams]="{
              lessonPrev: enrolmentWithCourseDataService.getPrevLesson(lessonPrev!),
              lessonNext: enrolmentWithCourseDataService.getNextLesson(lessonPrev!),
           }"
           class="btn btn-primary me-2">Previous Course</a>
        <a *ngIf="lessonNext" [routerLink]="['/enrolments', enrolmentId, 'lessons', lessonNext]"
           [queryParams]="{
              lessonPrev: enrolmentWithCourseDataService.getPrevLesson(lessonNext!),
              lessonNext: enrolmentWithCourseDataService.getNextLesson(lessonNext!),
           }"
           class="btn btn-primary">Next Course</a>
      </div>
    </div>
  </div>
</div>
