<div class="mt-3">
  <div class="row">
    <div class="col">
      <div class="d-flex mb-2">
        <a *ngIf="isAdmin()" routerLink="/administration/teachers" class="btn btn-primary me-2">Teacher management</a>
        <a routerLink="/administration/courses" class="btn btn-primary me-2">Course management</a>
        <a *ngIf="isAdmin()" routerLink="/administration/discounts" class="btn btn-primary me-2">Discount management</a>
        <a routerLink="/administration/enrolment-statistics" class="btn btn-primary">Enrolment Statistics</a>
      </div>
    </div>
    <hr class="my"> <!-- Adds vertical spacing around the horizontal line -->
    <router-outlet></router-outlet>
  </div>
</div>
