@if (!enrollments || enrollments.length === 0) {
  <div>No Enrollments could be found.</div>
} @else {
  <div class="row">
    @for (enrollment of enrollments; track enrollment.id) {
      <div class="card col-1" style="width: 18rem;">
        <a [routerLink]="['/course-view', enrollment.courseId]">
          <img [src]="enrollment.thumbnailUrl || 'https://placehold.co/600x400'" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title fw-bold">{{enrollment.title}}</h5>
          <p class="card-text">
            <span class="card-text">Enroll date: {{enrollment.enrollmentDate | date}}</span>
            <span class="card-text badge bg-success" *ngIf="enrollment.completed">Completed</span>
            <span class="card-text badge bg-warning" *ngIf="!enrollment.completed">Incomplete</span>
          </p>
          <a [routerLink]="['/courses', enrollment.courseId]" class="btn btn-primary">Study</a>
        </div>
      </div>
    }
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="paginationUtils!.number === 0">
        <button class="page-link" (click)="onPageChange(paginationUtils!.number - 1)">Previous</button>
      </li>
      <li class="page-item" *ngFor="let page of getPageRange()" [class.active]="page === paginationUtils!.number">
        <button class="page-link" (click)="onPageChange(page)">{{ page + 1 }}</button>
      </li>
      <li class="page-item" [class.disabled]="paginationUtils!.number === paginationUtils!.totalPages - 1">
        <button class="page-link" (click)="onPageChange(paginationUtils!.number + 1)">Next</button>
      </li>
    </ul>
  </nav>

}
