<div class="d-flex flex-wrap mb-4">
  <h1 class="flex-grow-1">Create Discount</h1>
  <div>
    <a routerLink="/administration/discounts" class="btn btn-secondary">Back to list</a>
  </div>
</div>

<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
  <app-input-row [group]="addForm" field="code" label="Discount code" />
  <app-input-row [group]="addForm" field="type" label="Type" rowType="radio" [options]="typesMap" (optionsChange)="discountTypeChange($event)"/>
  <app-input-row [group]="addForm" field="currency" label="Currency" rowType="radio" [options]="currenciesMap"/>
  <app-input-row [group]="addForm" field="fixedPrice" label="Fixed price" rowType="number" />
  <app-input-row [group]="addForm" field="percentage" label="Percentage" rowType="number" />
  <app-input-row [group]="addForm" field="maxValue" label="Max value" rowType="number" />
  <div class="d-block badge bg-warning">Please set start date valid (must before end date)!!!</div>
  <app-input-row [group]="addForm" field="startDate" datepicker="datetimepicker" label="Start date" />
  <app-input-row [group]="addForm" field="endDate" datepicker="datetimepicker" label="End date" />
  <app-input-row [group]="addForm" field="maxUsage" label="Max usage" rowType="number" />
  <input type="submit" value="Add Course" class="btn btn-primary mt-4" />
</form>
